body {
	background-color: #dbdbdb;
	font-size: 100%;
}

.note-text {
	width: 350px;
}

.stickies {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	list-style: none;
}

.sticky-item {
	position: relative;
	display: block;
	list-style: none;
	z-index: 1;
	float: left;
	margin: 30px;
	padding: 15px 15px 15px 15px;
	width: 200px;
	min-height: 200px;
	border: 1px solid #bfbfbf;
	background-color: #fafad2;
	color: black;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.1s ease-in;
	overflow: hidden;
}

.sticky-item:hover .remove-sticky-button {
	display: block;
}

.remove-sticky-button {
	position: absolute;
	display: none;
	right: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
	border: none;
	background-color: transparent;
	background-image: url(../img/icon-menu-button-close.svg);
	background-repeat: no-repeat;

	background-size: cover;
	cursor: pointer;
	outline: none;
	opacity: 0.2;
}

.remove-sticky-button:hover {
	opacity: 0.5;
}

.sticky-text {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 200%;
	width: 200px;
	margin: 0;
}

.sticky:nth-child(even) {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

.sticky-item:nth-child(odd) {
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

.sticky-item:nth-child(3n) {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
}

.sticky-item:hover {
	-webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
	-webkit-transform: rotate(0deg) scale(1.25);
	-moz-transform: rotate(0deg) scale(1.25);
	-o-transform: rotate(0deg) scale(1.25);
	-ms-transform: rotate(0deg) scale(1.25);
	transform: rotate(0deg) scale(1.25);
	z-index: 10;
}
